@page
@model CryptoNews.Pages.Accounts.TwitterModel

@{
    ViewData["Title"] = Html.DisplayNameFor(m => m);
}

<h1>@ViewData["Title"]</h1>

@(await Component.InvokeAsync("CreateAccount"))
@(await Component.InvokeAsync("ListTwitterAccounts", Model.AccountsList))