@page
@model CryptoNews.Pages.Accounts.YouTubeModel

@{
    ViewData["Title"] = Html.DisplayNameFor(m => m);
}

<h1>@ViewData["Title"]</h1>

@(await Component.InvokeAsync("CreateAccount"))
@(await Component.InvokeAsync("ListYouTubeAccounts", Model.AccountsList))